@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Righteous, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(45deg,
            rgb(66, 19, 143),
            rgb(0, 0, 0));
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: #180738;
    min-height: 50px;
}

.menu {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    letter-spacing: 4;
    font-size: 25px;
    gap: 2rem;
    flex-wrap: wrap;
    display: flex;
}

h1 {
    text-align: center;
    color: rgb(188, 241, 128);
}

p {
    color: white;
}

.p-linguagens {
    background: linear-gradient(to right, #f4f7f3, #127096);
    background-clip: text;
    /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
}


.container {
    text-align: center;

}

/* display: flex; */

.box {
    flex: 1;
    border: 1px solid #200552;
    /* Adicione uma borda para visualização */
    margin: 30px;
    /* Adicione margens para espaçamento entre as divs */
    /* display: flex; */
}

.box2 {
    flex: 1;
    border: 1px solid #200552;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


a {
    text-decoration: none;
    color: rgb(196, 202, 185);

}

a:hover {
    color: rgb(244, 248, 10);
    transition: .4s;
}

a:visited {
    color: red,
}

/* Arredondar imagem perfil*/
.perfilpic {
    border-radius: 50%;
    width: 23%
}

/* posicionar palavra em cima da logo*/
.img-linguagem {
    display: flex;
    /* Torna os itens filhos flexíveis */
    justify-content: center;
    /* Centraliza os elementos dentro */
}

.image-logo {
    vertical-align: middle;
    /* Alinha verticalmente as imagens */
    width: 40%;
    /*tamanho da imagem logo de linguagens*/
}

.linguagem-text {
    text-align: center;
    /* Alinha o texto centralmente */
    margin-right: 10px;
    /* colocar distancia entre as imagens */
}

.projeto-img {
    text-align: center;
    /* Alinha o texto centralmente */

}

.topo {
    position: fixed;
    /* Tornar a posição fixa na janela de visualização */
    bottom: 0;
    /* Alinhar na parte inferior */
    right: 0;
    /* Alinhar à direita */
    margin: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #200552
}

::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 73);
}

.menu-mobile {
    display: none;
}

#btn-menu {
    display: none;
}

/* RESPONSIVIDADE em resoluções menores */

@media screen and (max-width: 800px) {

    #btn-menu {
        display: block;
    }

    /* Menu */
    .menu {
        display: none;
    }

    .menu-mobile {
        font-size: small;

        backdrop-filter: blur(10px);
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        height: 34vh;

        display: block;
        padding: 10px 20px;
        visibility: hidden;
    }

    .texto-ao-lado {
        color: #f4f7f3;
    }


    /* Imagem perfil acima do texto */
    .box2 {
        flex-direction: column-reverse;
    }


    /* Mudar tamanho da foto perfil */

    .perfilpic {
        width: 80%;
    }

    /* TAMANHO DAS LOGO */

    .image-logo {
        width: 50%;
    }

    /* linha do botão menu */
    .linha {
        position: relative;
        height: 3px;
        background: #f4f7f3;
        width: 25px;
        display: block;
        margin: 5px auto;
        transform-origin: center;
        transition: .2s;
    }


    #btn-menu.ativo {
        border: 2px solid #ffff;
    }

    #btn-menu.ativo .linha:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
        background-color: rgb(255, 0, 0);
    }

    #btn-menu.ativo .linha:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
        background-color: rgb(255, 0, 0);
    }

    #btn-menu.ativo .linha:nth-child(2) {
        width: 0;
    }

    #btn-menu {
        background: transparent;
        width: 45px;
        height: 50px;
        outline: none;
        cursor: pointer;
        border: 2px solid #ffff;
        transition: .2s;

    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh-48px);
    }
}

@media screen and (max-width: 800px) {}



@media screen and (min-width: 760px) and (max-width: 800px) {
    .perfilpic {
        width: 50%;

    }

    #btn-menu {
        display: block;
    }

    .menu-mobile {
        font-size: small;

        backdrop-filter: blur(10px);
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        height: 25vh;

        display: block;
        padding: 10px 20px;
        visibility: hidden;
    }

}